.header-ourwork{
  position: relative;
  background-color: #1C6BBA;
  padding-top: 35px;
  font-size: 24px;
  font-family: 'Roboto',sans-serif;
  text-align: center;
  color:#fff;
  top:-30px;
  opacity:0.9;
}
.work-row{
  min-height: 60vh;
  display: flex;
  flex-wrap: wrap;
}
.work-a{
  background-color: #1C6BBA;
  opacity:0.9;
  z-index: 1px;
  margin-top: -42px;
}
.carousel {
    position: relative;
}
.carousel-control.right {
  display: none;
}
.carousel-control.left {
  display: none;
}
.carousel-indicators {
    position: absolute;
    top: 100%;
    bottom: 10px;
    left: 50%;
    z-index: 11;
    width: 60%;
    padding-left: 0;
    display:none;
}
.carousel-img {
  margin-left: 10%;
  margin-right: 2%;
  display: inline-block;
  overflow: hidden;
  width:300px;
  height:350px;
  min-width: 220px;
  min-height: 220px;
}
.work-header{
  padding-top: 50px;
  padding-left: 10%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color:#fff;
  text-transform: uppercase;
}
.work-client{
    padding-top: 10px;
    padding-left: 10%;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color:#eee;
    text-transform: capitalize;
}

.work-details{
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 5%;
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color:#eee;
}

.work-button-position{
  background-color: #1C6BBA;
  opacity:0.9;
  position: relative;
  padding-top: 40px;
  padding-bottom:3.5%;
  z-index: 9;
}
.centr-title{
  text-align: center;
}
.work-button {
  border-radius: 40px;
  font-size: 0.9rem;
  font-weight:bold;
  background-color: transparent;
  color:white;
  padding:1rem 3rem;
  border:1px solid #fff !important;
}

.work-button:hover {
  background-color: #1c1cba;
  color:white;
  text-shadow:none;
  transition: all .05s ease;
  -webkit-transition: all .5s ease; /* Safari and Chrome */
  -moz-transition: all .5s ease; /* Firefox */
  -ms-transition: all .5s ease; /* IE 9 */
  -o-transition: all .5s ease;
  transform:scale(1.05);
  -webkit-transform:scale(1.05); /* Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* IE 9 */
  -o-transform:scale(1.05);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.loading-icon{
  text-align: center;
  background: #fff;
 }
@media and screen(max-width:992px){
  .carousel-img {
    margin-left: 0%;
    margin-right: 0%;
    width:200px;
    height:200px;
    min-width: 220px;
    min-height: 220px;
  }
  .carousel {
      position: relative;
      margin-top: -44px;
  }
  .work-button-position{
    margin-left:40px;
  }
}
