.animated {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
}

.animated-mainpage{
  -webkit-animation-duration: .5s;
	animation-duration: .5s;
}
.ant-modal-body{
	height:100vh;
}
.main-head{
  position: relative;
  padding-top:30vh;
  text-align: center;
  font-size: 2.4375rem;
  font-weight: bold;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-shadow: 3px 3px rgba(0,0,0,0.5);
}
.cover-description{
  position: relative;
  padding-top:20px;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  text-shadow: 3px 3px rgba(0,0,0,0.5);
}
#section07 span {
  position: absolute;
  top:88vh;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
   transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
  cursor: pointer;
}
 #section07 span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
 #section07  span:nth-of-type(2) {
  top: 90vh;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
 #section07 span:nth-of-type(3) {
  top: 92vh;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

}

@media (min-width: 1200px) {
    .container {
        max-width: 1240px;
    }
}
@media (max-width:992px){
	.ant-modal-body{
		height:100%;
	}
}
